.ap-productlist-section {
  overflow: hidden;
}
[dir="ltr"] .ap-productlist--center .ap-productlist__inner {
  gap: 0;
}
@media (max-width: 576px) {
  .ap-productlist__inner--scroller {
    grid-auto-columns: 100vw;
  }
}

.ap-logolist--border{
  border: 1px solid rgb(var(--border-color));
}

.ap-logolist--none{
  border: none;
  
}